<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evie</title>
    <link rel="stylesheet" href="../styles/website_common.css">

    <!-- <link rel="icon" href="../media/img/logo_new.png" type="image"> -->
    <!-- <script src="/include/turf.min.js"></script> -->
    <!-- <script src="/node_modules/@tweenjs/tween.js/src/Tween.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-ui-dist@1.13.2/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery-ui-dist@1.13.2/jquery-ui.min.css">
    <!-- <script src="/include/jquery@3.3.1/jquery.min.js"></script> -->
    <!-- <script src="/include/jqueryui@1.13.0/jquery-ui.min.js"></script> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<style>
    /* @import url(/node_modules/cesium/Build/Cesium/Widgets/widgets.css); */
</style>

<body>

    <!--==================== HEADER ====================-->
    <div class="header-container">
        <header class="navbar">
            <nav class="nav-links">
                <ul class="main-menu">
                    <a href="#home">首頁</a>
                    <a href="#about">關於我</a>
                    <a href="#skills">專業技能</a>
                    <a href="#work">作品集</a>
                    <!-- <a href="#contact">聯絡我</a> -->
                </ul>
            </nav>
        </header>
    </div>

    <div class="social-icons">
        <a href="https://github.com/Erin-Liuu" target="_blank">
            <i class="fa-brands fa-github"></i>
        </a>
        <a href="#" class="copy_email" data-tooltip="kccmewal@gmail.com">
            <i class="fa-solid fa-envelope"></i>
        </a>
    </div>

    <div class="main-container">
        <section class="main-section sectionColor1" id="home">
            <!-- <h1>歡迎來到我的網站</h1> -->
            <iframe class="homeIframe" id="home_iframe" src="../test/dissolve_effect_text"></iframe>
            <img class="about-photo" id="self_photo" src="/media/img/self.jpg" alt="頭像">
        </section>
        <section class="main-section sectionColor2" id="about">
            <h2 style="margin-top: 110px;">關於我</h2>
            <div class="aboutContainer">
                <div class="timeline">
                    <div class="timeline-item">
                        <div class="timeline-dot"></div>
                        <div class="timeline-content">
                            <h3>2021 年 6 月</h3>
                            <p>國立中央大學大氣科學學系畢業，獲得學士學位。</p>
                        </div>
                    </div>
                    <div class="timeline-item">
                        <div class="timeline-dot"></div>
                        <div class="timeline-content">
                            <h3>2023 年 07 月</h3>
                            <p>大氣科學學系碩士班畢業，獲得碩士學位。</p>
                        </div>
                    </div>
                    <div class="timeline-item">
                        <div class="timeline-dot"></div>
                        <div class="timeline-content">
                            <h3>2023 年 10 月 - 2023 年 06 月</h3>
                            <p>開始第一份工作，擔任系統前端工程師。</p>
                        </div>
                    </div>
                </div>
                <div class="timeline-about">
                    <div class="about-description">
                        <h2>大學期間 (2018-2021)</h2>
                        <p>
                            修習相關課程，不斷精進我的程式能力，包括程式語言 C 系列、地理資訊系統導論(GIS)、資料庫管理，
                            以及氣象與人工智慧(Python)等，且選修系上專題課，有助於提升熟練程度、並縮短學習速度。
                        <ul>
                            <li>完成地球科學資訊學分學程。</li>
                            <li>參與2020年中央氣象局暑期實習。</li>
                        </ul>
                        </p>
                    </div>
                    <div class="about-description">
                        <h2>研究所期間 (2021-2023)</h2>
                        <p>
                            在研究所期間，著重在雷達觀測資料的應用，進行定量降水估計相關的研究。
                            除了事先閱讀並整理大量的參考文獻，還需要透過一系列的品質控管步驟，
                            取得原始雷達資料中較可靠的資訊，隨後對於方法以及其所產生的結果進行評估。
                            這些經驗使我有條理地剖析問題，並適時調整策略，在過程中也沉浸在數據分析帶來的成就感，
                            不斷嘗試解決問題並且發現新的挑戰；
                            同時累積溝通和寫作方面的經驗，加強了報告表達技巧與撰寫研究報告的能力。
                        </p>
                        <br>
                        <h2>研究成果</h2>
                        <p>
                            <a
                                href="https://etd.lib.nycu.edu.tw/cgi-bin/gs32/ncugsweb.cgi?o=dncucdr&s=id=%22GC110621014%22.&searchmode=basic">論文連結</a>
                        <ul>
                            <li>2023大氣科學研究生研討會優等（大氣物理與化學領域）</li>
                        </ul>

                        </p>
                    </div>
                    </ul>
                    <div class="about-description">
                        <h2>工作內容</h2>
                        <p>
                            具三維視覺化的網頁應用，採JavaScript、HTML 搭配Three.js 函示庫、WebGL技術實現
                            <br>
                        <ul>
                            <li>與後端工程師與設計團隊協作，負責UX功能建置與整合，包括透過AJAX串接後端 API、ECharts資料視覺化圖表導入。</li>
                            <li>運用 Cesium 平台結合實際地理資料，進行三維場景重建與空間定位，還原真實環境配置。</li>
                            <li>以 Three.js 開發多項視覺模組，實現導航引導、場景消融等互動效果。</li>
                            <li>參與 AR/VR WebXR應用技術研發，涵蓋視覺渲染技術與互動設計。</li>
                        </ul>
                        </p>
                        <br />
                        <h2>工作成就</h2>
                        <p>
                        <ul>
                            <li>研究並導入CSM技術(Cascaded Shadow Maps, 階層式陰影投影)，成功提升大場域場景中的陰影真實感。</li>
                            <li>優化三維物件動態生成流程，提升系統整體效能約達 10%。</li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="main-section sectionColor3" id="skills">
            <h2>專業技能</h2>
            <div class="skillsContainer">
                <div class="skill-column">
                    <h3 class="skill-title">程式語言編寫</h3>
                    <ul>
                        <li>JavaScript、jQuery 網頁流程設計</li>
                        <li>Vue.js、Bootstrap 前端框架基礎</li>
                        <li>Matlab、Python 資料處理及分析</li>
                        <li>Fortran 用於資料前置處理 (Linux 系統運行)</li>
                    </ul>
                </div>
                <div class="skill-column">
                    <h3 class="skill-title">氣象專業知識</h3>
                    <ul>
                        <li>理解物理過程背後的原理與推導，如應用向量分析來描述流體運動。</li>
                        <li>培養從不同角度(1.天氣尺度及 2.氣象物理參數，如溫濕壓變化)思考來判讀天氣現象。</li>
                        <li>數值分析包含最佳化、回歸、微積分等程式撰寫訓練。</li>
                    </ul>
                </div>
                <div class="skill-column">
                    <h3 class="skill-title">雷達氣象</h3>
                    <ul>
                        <li>雷達資料品質控管(Quality control)。</li>
                        <li>雷達變數透過適當參數化關係轉換降雨率的定量降水估計(QPE)技術。</li>
                        <li>對於垂直降雨變異性方面的誤差來源，所建立降雨在垂直高度上的關係。</li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="main-section sectionColor4" id="work">
            <h2>作品集</h2>
            <div class="workContainer">
                <section class="project">
                    <img src="../media/img/demo/TodoList.png" alt="作品一" />
                    <div class="project-text">
                        <h2>Todo List</h2>
                        <p>Vue.js(Vue 3) 結合 Bootstrap 的代辦清單應用，功能包含任務分類、截止日排序、拖曳排序、編輯備註等互動設計。</p>
                        <p>任務資料透過 Pinia 進行集中管理，並結合 LocalStorage 實現狀態持久化，確保使用者內容在重新整理頁面後依然可用。</p>
                        <div class="link-block">
                            <a class="link-btn" href="https://erin-liuu.github.io/TodoList/" target="_blank">DEMO</a> |
                            <a class="link-btn" href="https://github.com/Erin-Liuu/TodoList" target="_blank">CODE</a>
                        </div>
                        <br>
                        <p class="italic-text">#Vue.js #Bootstrap</p>
                    </div>
                </section>
                <section class="project">
                    <img src="../media/img/demo/radar_canvas.png" alt="作品二" />
                    <div class="project-text">
                        <h2>動態雷達偵測圖</h2>
                        <p>透過中央氣象署公開氣象API，結合基隆沿岸的地理圖層資料，實現具有中心定位與平移功能的互動式地圖平台。</p>
                        <div class="link-block">
                            <a class="link-btn" href="/test/radar_canvas" target="_blank">DEMO</a> |
                            <a class="link-btn" href="https://github.com/Erin-Liuu/profiles" target="_blank">CODE</a>
                        </div>
                        <br>
                        <p class="italic-text">#Canvas #JavaScript #jQuery</p>
                    </div>
                </section>
                <section class="project">
                    <img src="../media/img/demo/graffiti_wall.png" alt="作品三" />
                    <div class="project-text">
                        <h2>塗鴉牆</h2>
                        <p>提供多項繪圖工具，使用 WebSocket 支援多人同步操作，打造互動式創作體驗。</p>
                        <p>並透過 Cookie 技術暫存使用者的繪圖歷史，使用者可在重新載入頁面後繼續創作。</p>
                        <div class="link-block">
                            <a class="link-btn" href="/test/graffiti_wall" target="_blank">DEMO</a> |
                            <a class="link-btn" href="https://github.com/Erin-Liuu/profiles" target="_blank">CODE</a>
                        </div>
                        <br>
                        <p class="italic-text">#Canvas #JavaScript #jQuery</p>
                    </div>
                </section>
                <section class="project">
                    <img src="../media/img/demo/GPS.png" alt="作品四" />
                    <div class="project-text">
                        <h2>台灣地區地基式GPS反演可降水量之統計分析</h2>
                        <p>在中央氣象局暑期實習期間， 負責分析 2017 至 2019 年夏季可降水量（Precipitable Water Vapor, PWV）的晝夜變化趨勢，使用 Fortran
                            進行資料前處理，並透過 Python 進行資料分析與視覺化，處理地基式 GPS 訊號因大氣影響所產生的延遲量。</p>
                        <!-- <div class="link-block">
                            <a class="link-btn" href="/test/graffiti_wall" target="_blank">DEMO</a> |
                            <a class="link-btn" href="">CODE</a>
                        </div> -->
                        <br>
                        <p class="italic-text">#Fortran #Python</p>
                    </div>
                </section>
            </div>

        </section>

        <!-- <section id="contact"></section> -->
    </div>

    <!--==================== FOOTER ====================-->
    <div class="footer-container">
        <div class="icon-wrapper">
            <a href="https://github.com/Erin-Liuu" target="_blank">
                <i class="fa-brands fa-github"></i>
            </a>
            <a href="#" class="copy_email" data-tooltip="kccmewal@gmail.com">
                <i class="fa-solid fa-envelope"></i>
            </a>
        </div>
        <div class="footer-text">
            <p>Copyright © 2025 Evie</p>
            <p>All rights reserved.</p>
        </div>
    </div>


    <!--importmap--瀏覽器功能--自定義導入時使用的路徑映射-->
    <script type="importmap">
    {
      "imports": {
        "three": "../node_modules/three/build/three.module.js",
        "three/addons/": "../node_modules/three/examples/jsm/",
        "three/src/": "../node_modules/three/src/",
        "three/examples/": "../node_modules/three/examples/"
      }
    }
    </script>

    <script>
        // window['tab_type'] = "<%=type%>"
    </script>

    <script type="module" src="../src/main_profile.js"></script>
</body>


</html>